:root {
    --primary-color: #1077D6;
    --text-color: white;
    --span-color: red;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px; 
}

header {
    width: 100%;
    background-color: var(--primary-color);
}

.logo {
    font-family: 'Segoe UI';
    color: white;
    font-size: 30px;
}

.logo span {
    color: var(--span-color);
    font-size: 36px;
    text-shadow: 2px 2px black ;
}

.temp {
    width: 90%;
    margin-inline: auto;
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
}

.menu-trigger {
    background-image: url(images/open-menu.svg);
    background-repeat: no-repeat;
    width: 2.5rem;
    aspect-ratio: 1;
    padding: 1rem;
    cursor: pointer;
}

.menu-trigger[aria-expanded="true"] {
    background-image: url(images/close-menu.svg);
}

.nav-menu {
    display: none;
    text-align: center;
    padding-bottom: 2rem;
}

.nav-menu li {
    list-style: none;
}

.nav-links {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    width: max-content;
    margin-inline: auto;
    border-radius: 5px;
}

.nav-links:not(:first-child) {
    margin-top: 1rem;
}


.nav-links a {
    text-decoration: none;
    color: white;
}

.active, .nav-links:hover {
    background-color: red;
}

.nav-menu[data-visible="true"] {
    display: block;
}

@media (min-width: 500px) {

    .menu-box {
        width: 80%;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-trigger {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .nav-links:not(:first-child) {
        margin: unset;
    }
}